/* Dropdown Button */
.dropbtn {
   font-size: 16px;
   border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: rgba(255,255,255,0.3);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #888}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: #3e8e41;
}

/* Überschreibe den Stil des Headers des Bootstrap Themas um den Hintergrund an das Klavierbild anzupassen */
.masthead {
  background: linear-gradient(0deg, rgba(0,0,0,1.0), rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url("../res/img/header.jpg");
  background-size: 100% 100%;
  }
}

/*
  Web Piano App
*/

/* Styles für die Klaviertastatur */
#piano {
  width: 100%;
}

#piano-keyboard {
  padding-top: 20px;
}

.piano-key-black {
  position: absolute;
  background-color: black;
  box-sizing: border-box;
  border-bottom: : 10px solid gray;
  border-left: 5px solid darkgray;
  border-right: 5px solid darkgray;
  z-index: 5;
}

.piano-key-white {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 1;
}

/* Optionen */
#options {
  padding-top: 50px;
  padding-bottom: 50px;
}

.piano-option-row {
  margin: 20px;
}

.preset-button {
  margin-right: 4.5px;
}

.options-section {
  margin-top: 30px;
  border: 5px solid white;
}

.output-options-row {
  margin-top: 20px;
}

.format-spec-container {
  margin: 20px;
  border: 3px solid white;
}

.format-spec-row {
  padding-top: 15px;
}

/* Ausgabe */

#output{
  padding-top: 50px;
}

.notes-play-log {

}

.notes-play-log::-moz-selection{
  background: #FFB600;
}

.notes-play-log::selection {
  background: #FFB600
}

/* Replay */

#replay {
  padding-top: 50px;
}

/* Hilfedialog */

.help-dialog-modal {
  color: black;
}
